* {
  box-sizing: border-box;
}

html {
  font-family: "Jost", sans-serif;
}

body {
  margin: 0;
}

header {
  padding: 10px;
  background-color: #880017;
  color: white;
  text-align: center;
  margin-bottom: 2rem;
}

header h1 {
  margin: 0;
}

#game {
  display: flex;
  flex-direction: row;
}

#game-content {
  width: 40%;
  max-width: 40rem;
  margin-left: 1rem;
}

#game-content h1 {
  font-size: 28px;
}
section {
  margin: 1rem;
}

.healthbar {
  width: 100%;
  height: 40px;
  border: 1px solid #575757;
  margin: 1rem 0;
  background: #fde5e5;
}

.healthbar__value {
  background-color: #00a876;
  width: 100%;
  height: 100%;
}

.container {
  text-align: center;
  padding: 0.5rem;
  margin: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
}

#monster h2,
#player h2 {
  margin: 0.25rem;
}

#controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

button {
  font: inherit;
  border: 1px solid #88005b;
  background-color: #88005b;
  color: white;
  padding: 1rem 2rem;
  border-radius: 12px;
  margin: 1rem;
  width: 12rem;
  cursor: pointer;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background-color: #af0a78;
  border-color: #af0a78;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.26);
}

button:disabled {
  background-color: #ccc;
  border-color: #ccc;
  box-shadow: none;
  color: #3f3f3f;
  cursor: not-allowed;
}

#center-panel {
  position: relative;
}

#reset {
  display: inline-block;
  text-align: center;
  padding: 15px;
  position: absolute;
  font-size: 20px;
  width: 5rem;
  height: 5rem;
  left: -1rem;
  top: -2rem;
}

#game-logs {
  width: 60%;
  margin: 0 auto;
}

.container-logs {
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
}

#container-count {
  position: relative;
}

#container-count span {
  position: absolute;
  right: 10px;
}

#log {
  width: 100% !important;
  display: flex;
  flex-direction: row;
}

#rounds-log {
  width: 33.33% !important;
}

.container-logs h2 {
  margin: 0;
}

#log ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#log li {
  margin: 0.5rem 0;
}

.log--player {
  color: #7700ff;
}

.log--monster {
  color: #da8d00;
}

.log--damage {
  color: red;
}

.log--heal {
  color: green;
}
